:root {
  --default-font-family: "Nunito", sans-serif;
  --branding-color: #b93e00;
  --section-color: #e9e9e9;
  --footer-one-color: #212121;
  --font-color-basic: black;
  --muted-color: #515151;
  --highlited-color: #802a00;
}

body {
  margin: 0 auto;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 0;
}

section.secondary {
  background: var(--section-color);
}

section.tertiary {
  background: var(--footer-one-color);
  color: white;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid2 {
  display: grid;
  grid-gap: 42px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-4-columns {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-6-columns {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.img-responsive {
  max-width: 100%;
}

.center {
  margin: auto;
}

.align-text {
  text-align: center;
}

header {
  background-color: var(--section-color);
  margin: 0 auto;
  padding: 20px 0 50px 0;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li {
  font-family: var(--default-font-family);
  margin: 0 auto;
}

h1 {
  font-size: 52px;
  font-weight: 700;
  color: var(--font-color-basic);
  margin: 20px 0 40px 0;
  line-height: 1.5;
}

h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: black;
  opacity: 80%;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 0 0;
  text-align: center;
}

h3 {
  font-size: 26px;
  font-weight: 600;
  color: var(--branding-color);
  margin: 30px 0 20px 0;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: var(--section-color);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--footer-one-color);
  max-width: 1440px;
  margin: 0 auto;
}

.justify-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-background {
  position: sticky;
  top: 0;
  background-color: var(--section-color);
  z-index: 1000;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  font-family: var(--default-font-family);
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
}

.search-form input {
  padding: 10px 150px 10px 20px;
  border-radius: 20px;
  border: 1px solid var(--section-color);
  font-size: 18px;
  font-family: var(--default-font-family);
  width: 100%;
  display: flex;
}

input[type="text"]:focus {
  outline: 1px solid var(--branding-color);
}

.search-form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10px 30px 10px 30px;
  border: none;
  border-radius: 20px 20px 20px 20px;
  background-color: var(--branding-color);
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-family: var(--default-font-family);
}

.search-form button:hover {
  background-color: white;
  color: var(--branding-color);
  border: 1.5px solid var(--branding-color);
  font-weight: 600;
}

.nav-items,
.nav-buttons,
.search-container {
  margin-left: 0 auto;
}

.nav-items span {
  margin-right: 20px;
  font-family: var(--default-font-family);
  font-size: 18px;
}

.navbar .nav-buttons button {
  background: none;
  padding: 10px;
  border: none;
  width: 100px;
  height: 44px;
  border-radius: 30px;
  font-size: 18px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  cursor: pointer;
}

.navbar .nav-buttons button:hover {
  background: var(--branding-color);
  padding: 10px;
  border: none;
  width: 100px;
  height: 46.8px;
  border-radius: 30px;
  font-size: 18px;
  color: white;
  font-family: var(--default-font-family);
}

.cards {
  margin-top: 40px;
}
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--muted-color);
  border-radius: 10px;
  padding: 20px 20px 5px 20px;
  border-radius: 10px;
}
.card h3 {
  font-size: 32px;
  font-weight: 700;
  color: black;
  margin: 20px 0 0px 0;
}

.card p {
  text-align: left;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 0px 0;
  margin-top: 30px;
  border-top: 1px solid var(--muted-color);
}

.card-footer-btn {
  margin: 0 auto;
}

.card-footer-btn a {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  color: var(--branding-color);
  padding: 16px 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: capitalised;
  background: none;
  border-radius: 30px;
  border: 3px solid var(--branding-color);
}

.section-btn {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: var(--branding-color);
  padding: 16px 32px;
  display: inline-block;
  letter-spacing: 3px;
  background: none;
  border: none;
  text-decoration: underline;
  text-underline-offset: 8px;
  margin-right: 0;
}

.section-flex {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

h4 {
  font-size: 45px;
  font-weight: 700;
  color: var(--font-color-basic);
  margin: 20px 0 20px 0;
  line-height: 1.5;
}

h5 {
  font-size: 40px;
  font-weight: 700;
  color: var(--font-color-basic);
  margin: 5px 0 15px 0;
  line-height: 1.5;
  text-align: center;
}

header p {
  font-size: 24px;
  font-weight: 500;
  color: var(--font-color-basic);
  margin: 20px 0 40px 0;
  line-height: 1.5;
}

.call-btn {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: white;
  padding: 24px 32px;
  margin-top: 20px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: var(--branding-color);
  border-radius: 30px;
}

p {
  font-size: 24px;
  font-weight: 400;
  color: var(--font-color-basic);
  margin: 0px 0 20px 0;
  line-height: 1.8;
}

section p {
  text-align: center;
}

section a {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  color: white;
  padding: 16px 48px;

  display: inline-block;
  text-transform: capitalize;
  border-color: var(--muted-color);
  text-decoration: none;
  background: var(--branding-color);
  border-radius: 30px;
  border: 2px solid var(--branding-color);
  opacity: 0.7;
}

.section-btn:hover {
  opacity: 1;
}

section a.btn-secondary {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  color: var(--muted-color);
  padding: 16px 48px;
  display: inline-block;
  text-transform: capitalize;
  border-color: var(--muted-color);
  text-decoration: none;
  background: none;
  border-radius: 30px;
  border: 2px solid var(--muted-color);
}

#arrow {
  font-size: 24px;
  opacity: 0.7;
  color: var(--branding-color);
}

.colored {
  color: var(--branding-color);
}
.accordion-whole {
  margin-top: 60px;
}

.accordion-wrapper {
  padding-top: 20px;
}

label {
  display: block;
  padding: 8px 22px;
  margin: 0 0 1px 0;
  cursor: pointer;
  border-bottom: 1px solid var(--muted-color);
  margin: 20px;
  color: var(--font-color-basic);
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  transition: all 0.5s ease-out;
}

label:hover {
  background: var(--muted-color);
  color: white;
}

.content {
  padding: 10px 25px;

  margin: 0 0 1px 0;
}

input + .content {
  display: none;
}

input:checked + .content {
  display: block;
}

input {
  display: none;
}

.newsletter input {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin: 40px;
}

.newsletter_form {
  padding: 20px 25px;
  border-radius: 30px;
  border: 1px solid var(--branding-color);
  font-size: 22px;
  font-family: var(--default-font-family);
  width: 100%;
  display: flex;
}

.newsletter_form:focus {
  outline: 1px solid var(--muted-color);
}

#form-container .form_button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10px 30px 10px 30px;
  border: 1px solid var(--branding-color);
  border-radius: 30px;
  background-color: var(--branding-color);
  color: white;
  cursor: pointer;
  font-size: 22px;
  font-family: var(--default-font-family);
}

#form-container .form_button:hover {
  background: white;
  padding: 10px;
  border: none;
  border-radius: 30px;
  padding: 10px 30px 10px 30px;
  font-size: 22px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  cursor: pointer;
}

footer h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  color: white;
}

footer p {
  font-weight: 400;
  font-size: 20px;
  display: flex;
  line-height: 1.5;
  color: white;
  margin-left: 0;
  text-align: left;
}

footer ul {
  padding: 0;
}

.footer-link {
  font-weight: 500;
  line-height: 3;
  font-size: 20px;
  text-align: center;
  color: white;
  padding: 0px;
  display: inline-block;
  letter-spacing: normal;
  background: none;
  border: none;
  text-decoration: none;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 3;
  font-size: 20px;
}

.footer-underlink {
  font-weight: 500;
  line-height: 3;
  font-size: 20px;
  text-align: center;
  color: white;
  padding: 0px;
  display: inline-block;
  letter-spacing: normal;
  background: none;
  border: none;
  text-decoration: none;
}

.opace {
  opacity: 0.8;
}

.inline-links {
  display: flex;
  align-items: center;
}

.inline-links ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 50px;
}

.inline-links ul li {
  margin-right: 10px;
}

.inline-links ul li:last-child {
  margin-right: 0;
}

.inline-links .copyright {
  margin-right: 10px;
}

i {
  font-size: 32px;
  margin: 30px 20px 0 0;
  opacity: 0.7;
}

i:hover {
  opacity: 1;
  cursor: pointer;
}

#buttonContainer button {
  display: block;
  margin: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  border-radius: 30px;
  font-size: 22px;
  font-family: var(--default-font-family);
  animation: moveUpDown 2s infinite alternate;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

#buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lesson-wrapper {
  margin-top: 20px;
}

.trivia-wrapper {
  max-width: 80%;
  margin: 30px auto;
}

#triviaQuestion {
  font-size: 32px;
  font-weight: 700;
  color: black;
  margin: 20px 0 0px 0;
  display: block;
  text-align: center;
}

.anwerForm {
  display: block;
  padding: 15px 22px;
  margin: 20px 20px 20px 0;
  cursor: pointer;
  border: 1px solid var(--muted-color);
  border-radius: 30px;
  margin: 20px;
  color: black;
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  background: none;
}

.anwerForm:hover {
  color: rgb(255, 255, 255);
  background-color: var(--branding-color);
}

#evaluateQuestion {
  display: block;
  margin: 0 auto;
  text-align: center;
  opacity: 0.8;
}

.trivia-button {
  background: none;
  padding: 20px 20px 20px 20px;
  border: none;
  width: 120px;
  height: 80px;
  border-radius: 30px;
  font-size: 18px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  cursor: pointer;
  text-align: center;
  font-weight: 500;
}

.trivia-button:hover {
  background: var(--branding-color);
  padding: 20px 20px 20px 20px;
  border: none;
  width: 120px;
  height: 80px;
  border-radius: 30px;
  font-size: 18px;
  color: white;
  border: 1px solid var(--branding-color);
  cursor: pointer;
  text-align: center;
  font-weight: 500;
}

.trivia-buttons {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 10px auto;
}

.primary-buttons {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 60px auto;
}

.back-button {
  background: none;
  padding: 5px;
  border: none;
  width: 100px;
  height: 60px;
  border-radius: 30px;
  font-size: 18px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  cursor: pointer;
  text-align: center;
}

.next-button {
  background: var(--branding-color);
  padding: 5px;
  border: none;
  width: 150px;
  height: 60px;
  border-radius: 30px;
  font-size: 18px;
  color: white;
  border: 1px solid var(--branding-color);
  cursor: pointer;
  text-align: center;
}

.next-button:hover {
  background: var(--highlited-color);
  padding: 5px;
  border: none;
  width: 150px;
  height: 60px;
  border-radius: 30px;
  font-size: 18px;
  color: white;
  border: 1px solid var(--branding-color);
  cursor: pointer;
  text-align: center;
}
